<!DOCTYPE>
<html >
<head>
	<title>practice</title>
	 
	

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

 <script 
 src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'>
</script>
<script type="text/javascript" src="Controllers/controller.js"></script>
	 
<style>

form-control{
       background-color: #ccc;
   }
    nav{
        background-color: #337ab7;
    }
    .nav li a{
        color: #fff;
    }


</style>
	 
</head>
<body ng-app='myApp'>
<div class="container"  ng-controller='myCtrl'>

<nav class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="./index.html">Customer Information</a></li>
                        <li><a href="./Detail.html">Details</a></li>
                        <li><a href="./Notes.html">Notes</a></li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

<h1>Customer Detail Form</h1>

<div class="container" >
<input class="form-control" ng-model='contact.Id'>

<input class="form-control" ng-model='contact.firstname'>

<input class="form-control" ng-model='contact.lastname'>
	</td>
<td >
<input class="form-control" ng-model='contact.email'>

<input class="form-control" ng-model='contact.contact'>
	
<input class="form-control" ng-model='contact.adress'>
	
<input class="form-control" ng-model='contact.city'>
	
<input class="form-control" ng-model='contact.state'>
	
<input class="form-control" ng-model='contact.zip'>
	

<button  class="btn btn-primary" ng-click="addcontact1()">Add</button></td>


</div>
<table class="table">
<thead>
<tr>
	<th>First Name</th> 
	<th>Last Name</th>
	<th>Email</th>
	<th>Contact</th>
	<th>Adress</th>
	<th>City</th>
	<th>State/Province</th>
     <th>ZIP</th>
	<th>ID</th>

</tr>

</thead>
<tbody>


<tr ng-repeat="contact in contactlist">
<td>
{{contact.firstname}}
</td>
<td>
{{contact.lastname}}
</td>
<td>
{{contact.email}}
</td>
<td>
{{contact.contact}}
</td>
<td>
{{contact.adress}}
</td>
<td>
{{contact.city}}
</td>
<td>
{{contact.state}}
</td>
<td>
{{contact.zip}}
</td>
<td>
{{contact.Id}}
</td>
</tr>

</tbody>
</table>


</div>



</body>
</html>